/* Navbar Styling*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ccc;
    padding: 10px 15%;
    z-index: 100;
    transition: background 0.3s, box-shadow 0.3s;
    border-radius: 1px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-wrap: nowrap;
}

header .logo img {
    width: 120px;
    max-width: 100%;
    object-fit: contain;
}

header .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    flex-shrink: 0;
}

header .nav-links li {
    margin: 0 10px;
}

header .nav-links a {
    text-decoration: none;
    color: #ccc;
    padding: 5px 10px;
    transition: background 0.3s;
}

header .nav-links a:hover {
    color: #fff;
}



nav ul li a.active {
    color: #fff;
    border-bottom: 2px solid #A12B2A;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 101;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #999;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Hamburger Active Animation */
/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60vh;
    background: linear-gradient(to right, #1F3B73, #0A1D38);
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-logo {
    height: 90px;
}

.close-btn {
    font-size: 2.5rem;
    cursor: pointer;
}

.mobile-nav-links {
    list-style: none;
    padding: 0;
    margin-top: 0.1rem;
    text-align: center;
}

.mobile-nav-links li {
    margin: 1rem 0;
}

.mobile-nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    transition: color 0.3s ease;
}

.mobile-socials {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    margin-top: 0.5;
}

.mobile-socials a {
    text-decoration: none;
    color: #222;
    transition: color 0.3s ease;
}

/* Transparent navbar on Home page */
.navbar.home-nav {
    background: transparent;
    box-shadow: none;
    color: #ccc;
}

.navbar.scrolled-nav {
    background: linear-gradient(to right, #1F3B73, #0A1D38);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #ccc;
    transition: background 0.3s, box-shadow 0.3s;
}


/*Footer*/
.footer {
    background: linear-gradient(to bottom, #102544, #0d1b2e);
    background-color: #0d1b2e;
    color: white;
    padding: 20px 10px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.footer-logo,
.footer-nav,
.footer-services,
.footer-courses,
.footer-contact {
    width: 20%;
    padding: 8px;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;

}

.footer-info {
    font-size: 11px;
    line-height: 1.5;
}

.footer-section {
    color: #999;
    font-size: 12px;
}

.footer-nav ul,
.footer-services ul,
.footer-courses ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 12px;
}

.footer-nav li,
.footer-services li,
.footer-courses li {
    margin-bottom: 5px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #D57370;
}

.footer-contact ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 12px;
}

.footer-contact ul li {
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.social-icon {
    font-size: 15px;
    color: white;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #b86546;
    ;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 11px;
    border-top: 1px solid #000;
}

.footer-right a {
    text-decoration: none;
    color: white;
}

.footer-right a:hover {
    color: #d2b48c;
}

.footer-left p,
.footer-right a {
    margin: 0;
}



/* Responsive styling for smaller screens (768px) */
@media (max-width: 768px) {

    /* Hide Nav Links by Default */
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 30px;
        background: rgba(0, 0, 0, 0.9);
        padding: 15px 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    /* Navbar Styling*/
    header {
        padding: 10px 5%;
    }

    header .logo img {
        height: 100px;
        margin: 0;
        padding: 0;
    }

    header .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    /* Show Nav Links When Active */
    .nav-links.active {
        display: flex;
    }

    /* Show Hamburger Menu */
    .navbar .hamburger {
        display: flex;
        flex-wrap: nowrap;
    }

    /* Mobile Menu */
    .mobile-menu {
        padding: 1rem 5%;
    }

    /*Footer Section*/
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo,
    .footer-nav,
    .footer-services,
    .footer-courses,
    .footer-contact {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-social {
        display: inline;
        align-items: center;
    }

}


/* Responsive styling for smaller screens (698px) */
@media (max-width: 696px) {

    /*Header*/
    header {
        padding: 15px 0px;
    }

    header .container {
        justify-content: space-between;
    }

    header .logo img {
        height: 100px;
        margin: 0;
        padding: 0;
    }

    /* Hamburger Menu */
    .hamburger {
        margin-right: 35px;
    }
}

/* Responsive styling for smaller screens (583px) */
@media (max-width: 583px) {

    /*Header*/
    header {
        padding: 15px 0px;
    }

    header .container {
        justify-content: space-between;
    }

    header .logo img {
        height: 90px;
        margin: 0;
        padding: 0;
    }

    /* Hamburger Menu */
    .hamburger {
        margin-right: 25px;
    }

}